 body, html {
    height: 100%;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contact {
    font-family: Montserrat, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.contact a {
    color: #fff;
}

.background {
    background-image: url("assets/background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    font-family: Montserrat, sans-serif;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
    cursor: default;
}

.social {
    display: inline-block;
}

.discord, .github, .twitter {
    cursor: pointer;
}

.credittext{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    padding-left: 5px;
    bottom: 5px;
}

.credittext p, .credittext a {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

nav {
    background: #4A6B82;
    height: 80px;
    width: 100%;
    z-index: 3;
    animation: .3s linear navani; 
    
}

.about {
    font-size: 1vw;
}

.icons {
    vertical-align: middle;
    color: white;
    font-size: 1.3vw;
}

.svg-icons {
    vertical-align: middle;
    width: 1.5vw;
    height: 1.5vw;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    z-index: 2;
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    z-index: 2;
}

nav ul li a {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 2;
}

a.unactive:hover, a.active {
    background: #203D4D;
    transition: .5s;
    font-family: Montserrat, sans-serif;
    z-index: 3;
}

.checkbtn {
    padding: 22 0px;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    font-family: Montserrat, sans-serif;
    z-index: 2;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
      display: block;
      z-index: 2;
}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4A6B82;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 2;
}

nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    z-index: 2;
}
    nav ul li a {
    font-size: 20px;
    z-index: 2;
}

#check:checked ~ ul {
    left: 0;
  }
}

.text a, .bottom a {
    color: #fff;
}